@charset "UTF-8";


table{
    width : 300px;
    border: 2px solid lightgray; 
}
th{
    height: 75px;
    background-color: lightyellow;
    color : pink;
    font-size: 27px;
    text-align: center;
}
td{
    height: 75px;
    text-align: center;
}

td > input[type="button"] {
    width: 100%;
    height: inherit;
    color : lightcoral;
    font-size: 32px;
    background-color: lightpink;
    border : none;
}
td>input[type="button"]:hover{
    background-color: lightblue;
}
td:last-child > input{
    background : lightcoral;
    color : white;
}