@charset "UTF-8";

caption{
    font-size: 27px;
    color : pink;
}
table{
    width : 300px;
    border: 2px solid lightgray; 
}
th{
    height: 75px;
    background-color: lightyellow;
    color : pink;
    font-size: 27px;
    text-align: center;
}
td{
    height: 75px;
    text-align: center;
}

td > input[type="button"] {
    width: 100%;
    height: inherit;
    color :  #82b3c9;
    font-size: 32px;
    background-color: lightblue;
    border : none;
}
td>input[type="button"]:hover{
    background-color: #fff59d;
}
td:last-child > input{
    background : #82b3c9;
    color : white;
}